#formProgramProperty{
    display: none;
}
.progress {
    display: none;
}
.loyalty-config i {
    cursor: pointer;
    font-size: large;
}

.loyalty-config table .action-disabled {
    color: #c05c67;
}

.loyalty-config table .action-enabled {
    color: #78d07d;
}
.loyalty-config button[type="reset"] {
    display: none;
}